Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log

.vs/
.idea/
.idea/**

*.lib
*.sbr
bin/
obj/

_ReSharper*/
[Tt]est[Rr]esult*
/packages/
App_data/
*.pubxml
**/appSettings.config
**/settings.json
**/connectionStrings.config
**/connectionStrings.json
**/logging.config
**/logging.json
**/sessionState.config
**/machineKey.config
**/version.json
*.development.json

#Node:
node_modules

**/appsettings*.Development.json
**/appsettings*.Docker.json

