<div *ngIf="exchangeRates != undefined">
  <h3 class="d-flex justify-content-center p-3">Exchange rates for {{ exchangeRates.day.exchangeDate | date:"yyyy.MM.dd." }}</h3>

  <div class="container">
    <div class="row fw-bolder border-bottom p-2">
      <div class="col">
        Currency
      </div>
      <div class="col">
        Unit
      </div>
      <div class="col d-flex justify-content-end">
        Value in HUF
      </div>
      <div class="col">
        &nbsp;
      </div>
    </div>
    <div class="row p-1 striped-row" *ngFor="let exchangeRate of exchangeRates?.day?.rates">
      <div class="col">
        {{ exchangeRate.currency }}
      </div>
      <div class="col">
        {{ exchangeRate.exchangeUnit }}
      </div>
      <div class="col d-flex justify-content-end">
        {{ exchangeRate.value | number:'1.2-2' }}
      </div>
      <div class="col d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary">Save</button>
      </div>
  </div>
</div>
