<div *ngIf="exchangeRates != undefined">
  <h1 >Exchange rates for {{ exchangeRates.day.exchangeDate }}</h1>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="exchangeRates?.day?.rates?.length">
    <thead>
    <tr>
      <th>Pénznem</th>
      <th>Egység</th>
      <th>Érték forintban</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let exchangeRate of exchangeRates.day.rates">
      <td>{{ exchangeRate.currency }}</td>
      <td>{{ exchangeRate.exchangeUnit }}</td>
      <td>{{ exchangeRate.value }}</td>
    </tr>
    </tbody>
  </table>
</div>
