<div class="container">
  <ngx-spinner
    size="medium"
    color="#fff"
    type="ball-spin-clockwise"
    [fullScreen]="false">
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
</div>

<h3 class="d-flex justify-content-center p-3">Stored rates administration</h3>

<ng-container *ngIf="storedRates.length === 0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="text-center">No stored rates found.</p>
      </div>
    </div>
  </div>
</ng-container>


<div class="container" *ngIf="storedRates.length > 0">
  <div class="row fw-bolder border-bottom p-2">
    <div class="col-1">
      Currency
    </div>
    <div class="col-1">
      Unit
    </div>
    <div class="col-2">
      Date
    </div>
    <div class="col-2 d-flex justify-content-end">
      Value in HUF
    </div>
    <div class="col-4">
      Comment
    </div>
    <div class="col-2">
      <!-- actions -->
    </div>
  </div>


  <div class="row p-1 striped-row" *ngFor="let exchangeRate of storedRates">
    <div class="col-1">
      {{ exchangeRate.currency }}
    </div>
    <div class="col-1">
      {{ exchangeRate.exchangeUnit }}
    </div>
    <div class="col-2">
      {{ exchangeRate.exchangeDate | date:'yyyy-MM-dd' }}
    </div>
    <div class="col-2 d-flex justify-content-end">
      {{ exchangeRate.value | number:'1.2-2' }}
    </div>
    <div class="col-4">
      <span *ngIf="!exchangeRate.editMode">{{ exchangeRate.initialComment }}</span>
      <div *ngIf="exchangeRate.editMode">
        <textarea placeholder="Add your comment" [(ngModel)]="exchangeRate.comment"></textarea>
      </div>
    </div>
    <div class="col-2 d-flex justify-content-end">
      <button
        type="button"
        class="btn btn btn-secondary ce-btn-height-1 p"
        *ngIf="!exchangeRate.editMode"
        (click)="exchangeRate.editMode = true">🖉</button>
      <div *ngIf="exchangeRate.editMode">
        <button
          type="button"
          class="btn btn-danger ce-btn-height-1 m-1"
          (click)="exchangeRate.editMode = false">⨯</button>
        <button
          type="button"
          class="btn btn-primary ce-btn-height-1 m-0"
          (click)="updateStoredRate(exchangeRate)">🖫</button>
          <!-- Use this icon instead??? 💾 -->
      </div>
    </div>
  </div>
</div>


<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
